/* 
==========================
        MAIN CSS
==========================
*/

body {
  background: #fff;
  color: #202336;
}

body,
html {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  overflow: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  background: #fb8f1d;
  color: #fff;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
}

h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

p {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
}

/* 
==========================
        HEADER
==========================
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 100px;
  margin: auto;
}

nav div {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 30px;
}

.menu a {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #b8becd;
}

.menu .activ {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #202336;
}

.buttons .button {
  margin-right: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.buttons .button:nth-of-type(1) {
  background-color: #fff;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
  line-height: 38px;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-main img {
  width: 450px;
  margin-left: 150px;
}

.header-main h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 55px;
  line-height: 80px;
  color: #202336;
}

.header-main h6 {
  font-family: Inter;
  font-weight: 600;
  font-size: 17px;
  line-height: 40px;
  /* position: relative; */
  height: 40px;
}

.chiziq {
  position: relative;
  height: 2px;
}
form {
  display: block;
}
.chiziq::before {
  content: "";
  background-color: #202336;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
}

select {
  width: 200px;
  height: 45px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #4a4c53;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
}

.home__button {
  font-family: Muli;
  font-weight: bold;
  font-size: 15px;
  line-height: 60px;
  color: #ffffff;
  background: #fb8f1d;
  border-radius: 8px;
  padding: 10px 40px;
}

/* 
==========================
        Page 2
==========================
*/

.page-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding: 0 50px;
  padding: 0 100px;
}

.page-2 img {
  width: 500px;
  margin-right: 20px;
}

.page-2 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
}

.page-2 p {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #7D7987;
  margin-left: 0;
}

/* 
==========================
        Page 2
==========================
*/